<section class="pt-5 pb-5" th:fragment="carrusel">
    <div id="carouselExampleFade" class="carousel slide carousel-fade rounded-circle">
        <div class="carousel-inner">
            <div class="carousel-item  carousel_item active">
                <img src="/dvd/carrusel/carrusel01.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item  carousel_item">
                <img src="/dvd/carrusel/carrusel02.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item  carousel_item">
                <img src="/dvd/carrusel/carrusel03.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span id="prev" class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span id="next" class="visually-hidden">Next</span>
        </button>
    </div>
</section>
